.calendar-container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  mwl-calendar-month-view {
    width: 100%;
    height: auto;
  }
  